img{
	width:515px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

#hello {
	padding: 110px 10px 75px 100px;
	/* padding: 110px 50px 75px 100px; */
/* padding-top: 50px;
 padding-right: 30px;
 padding-bottom: 50px;
 padding-left: 80px; */
}

#h1-size {
	padding: 90px 0px 0px 0px;
	font-size:85px;
}

#description-size {
	padding: 70px 0px 0px 0px;
	font-size:35px;
}
